html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Audiowide", cursive;
  font-family: "Fuzzy Bubbles", cursive;
}

.grid-container {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-gap: 10px;
  background-color: #2d4059;
  padding: 10px;
  max-width: 100%;
}

.grid-container > div {
  background-color: #90aacb;
  text-align: center;
  font-size: 25px;
}

.items_box {
  grid-column: 1/2;
  display: grid;
  grid-template-rows: 1fr 1fr;
}

.images_contain {
  display: grid;
  grid-template-columns: auto auto auto;
}

.images_contain > img {
  margin-left: auto;
  margin-right: auto;
  cursor: pointer;
  transition: 0.3s;
}

.images_contain > img:hover {
  transform: scale(1.1);
}

.result_container {
  grid-column: 2/3;
  display: grid;

  grid-auto-flow: column;
}

.equal {
  visibility: hidden;
  color: #e8d5b7;
}

.hidden {
  display: none;
}

button {
  height: 40px;
  background-color: #0e2431;
  color: #e8d5b7;
  font-size: 20px;
  border-radius: 5px;
  transition: 0.3s;
  margin-bottom: 10px;
}

button:hover {
  background-color: #e8d5b7;
  color: #0e2431;
}

.attribution {
  width: 100%;
  font-size: 11px;
  text-align: center;
  margin-top: 10px;
}

/* ***********************media query**************** */

@media (max-width: 767.98px) {
  .grid-container {
    display: grid;
    grid-template-columns: 1fr;
  }

  .grid-container > div {
    font-size: 15px;
  }

  .items_box {
    grid-row: 1/2;
  }

  .result_container {
    grid-row: 2/3;
  }

  .images_contain {
    display: grid;
    grid-template-columns:1fr;
    
  }

  .img-items, .img-cpu-choosed{
    width: 100px;
    height: auto;
    margin-top: 10px;
  }
}


@media (min-width: 768px) and (max-width: 991.98px) {

  .grid-container > div {
    font-size: 20px;
  }

  .img-items, .img-cpu-choosed{
    width: 150px;
    height: auto;
    margin-top: 10px;
  }

}